{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>sub Category</title>
    <style>
        body{
            background-image: url("{% static 'img/subcat.jpeg'%}");
            background-size: cover;
            
        
        }
        @media screen and (max-width:992px){
            .text{
                margin-bottom: 40px;
            }
            
        }
        @media screen and (max-width:767px){
            .form-box{
                padding-left: 10px !important;
                padding-right: 10px !important;
            }
            .text h1{
                font-size: 40px;
            }
            .text h2{
                font-size: 20px;
            }

        }
        .form-control{
            background-color: rgb(226, 222, 216);
            border-radius: 10px;
            border: 1px solid black;
            box-shadow: 10px 10px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
    
    </style>
</head>

<body >

<!-- navbar -->

<nav class="navbar navbar-expand-sm navbar-dark " style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'adminhomepage' %}" style="width: 40%;">
            <h1><img src="{% static 'img/lg1.gif' %}" alt="" style="max-width: 6em; max-height: 3.2em;"></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
               
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle  mx-2  " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b  style="color: rgb(117, 202, 231);">ADD_DETAILS</b>
                  </a>
                  <ul class="dropdown-menu">
                   
                      <li><a class="dropdown-item"  href="{% url 'productpage' %}"><b>ADD_PRODUCT</b></a></li>
                      
                      <li><a class="dropdown-item"  href="{% url 'categorypage' %}"><b>ADD_CATEGORY</b></a></li>

                      <li> <a class="dropdown-item" href="{% url 'subcategorypage' %}"><b>ADD_SUBCATEGORY</b></a></li>
                    
                  </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link mx-3 text-white" href="{% url 'productpage' %}"><b>ADD_PRODUCT</b></a>
                </li>
                <li class="nav-item">
                    
                </li>
                <li class="nav-item">
                   
                    
                </li>
               
                <li class="nav-item"> -->
                  <a class="nav-link mx-3 text-white" href="{% url 'product_details' %}"><b>PRODUCT_DETAILS</b></a>
                  
              </li>
                <li class="nav-item">
                    <a class="nav-link  mx- text-white" href="{% url 'showcustomerpage' %}" ><B>CUSTOMER_DETAILS</B></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  mx-3 text-white" href="{% url 'order_details' %}"><B>ORDER_DETAILS</B></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-3  text-white" href="{% url 'logout' %}"><b>LOGOUT</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


  
<div class="main" style=" padding-top:65px; padding-bottom: 125px;" >
   <div class="row">
    <div class="col-lg-7 col-md-12 d-flex align-items-center">
        <div class="text" >
            <center>
                <h1 class="text-white" style="font-size: 60px;text-shadow: 2px 2px 4px #000000;padding-left: 10px;">Create Your Best Shoping Experience</h1>
                 <h2 class="text-white" style="text-shadow: 2px 2px 4px #000000;">Altos Technologies</h2>
            </center>
        </div>
    </div>
    <div class="col-lg-5 col-md-10 col-sm-12">
        <div class="form-box px-2 py-2">
           <div class="container-fluid">
            <form  method="post" action="{% url 'addsubcategory' %}" enctype="multipart/form-data" style="  padding: 20px; background-color:rgb(255, 255, 255,0.7); margin-top: 30px; border-radius: 10px; box-shadow: 10px 10px; margin-bottom: 30px; border: 2px solid black;">
            
              {% csrf_token %}
                <div class="form-group"> 
                    <center><h1 style="color: white;text-shadow: 2px 2px 4px #000000; margin-bottom: 40px;">ADD SUB CATEGORY</h1></center>
                    <input type="text" name="subcname" class="form-control" placeholder="enter category"><br>
                    <select class="form-control" name="select" id="qwerty">
                        {% for i in data %}

                        <option value="{{ i.id }}">{{ i.Category_Name }}</option>

                        {% endfor %}
                    </select>
                    <input type="submit" id="s" value="ADD COURSE" class="btn-dark" style="margin-top: 10px; margin-left: 125px; width: 50%; padding: 10px; border-radius: 10px;"><br>

                    
                 </div>    
                    
            
               
            </form>
           </div>
        </div>
    </div>
   </div>     
  
</div>

  
<!-- fotter -->
<div class="container-fluid">
    <div class="footer" id="f" style=" background-color: rgb(255, 255, 255,0.8);">
        <div class="row" style="margin-top: 20px; margin-left: 10px; padding: 10px; border-bottom: 2px solid black; margin-right: 10px;">
           
            <div class="col" >
                <img src="{% static 'img/secure.png' %}" alt="" style="width: 120PX; margin-left: 30px; ">
                <h5 style="margin-left: 20px;">100% SECURE PAYMENT</h5>
                <p style="margin-bottom: 1px;color: #888888;">Moving your card details to a much more secured place</p>
            </div>
           
                <div class="col"  >
                    <img src="{% static 'img/safe.png' %}" alt="" style="width: 120PX;margin-left: 30px;">
                    <h5 style="margin-left: 30px;">TRUSTPAY</h5>
                    <p style="margin-bottom: 1px;color: #888888;">100% Payment Protection. Easy Return Policy</p>
                </div>
           
            <div class="col" >
                <img src="{% static 'img/callcenter.png' %}" alt="" style="width: 120PX; margin-left: 30px;">
                <h5 style="margin-left: 20px;">HELP CENTER</h5>
                <p style="margin-bottom: 1px;color: #888888;">Got a question? Look no further.Browse our FAQs or submit your query here.</p>
                
                
            </div>
          
        </div>
        
        
        <div class="row" style="border-bottom: 2px solid black; margin-left: 10px; margin-right: 10px;">
            
                <div class="col" style="padding: 10px; margin-top: 20px; margin-left: 20px;">
                    <div class="container-fluid">
                        <p style="font-weight: bold; "> PAYMENT</p>
                    <a href=""><img src="{% static 'img/atm.jpg' %}"  alt="" style="width: 40px;"></a>
                    <a href=""><img src="{% static 'img/paypal.svg' %}" alt="" style="width: 30px;"></a>
                    <a href=""><img src="{% static 'img/wallet.png' %}" alt="" style="width: 30px;"></a>
                    
                    <a href=""><img src="{% static 'img/ppay1.png' %}"  alt="" style="width: 30px;"></a>
                    <a href=""><img src="{% static 'img/gpay.png' %}"  alt="" style="width: 30px;"></a>
                    </div>
                    
                </div>
              <div class="col" style="padding: 10px; margin-top: 20px;">
                <div class="container-fluid">
                    <p style="font-weight: bold;"> CONNECT</p>
               
                <a href=""><img src="https://i4.sdlcdn.com/img/footer/facebook@4x.png"  alt="" style="width: 40px;"></a>
                <a href=""><img src="https://i1.sdlcdn.com/img/footer/twitter@4x.png" alt="" style="width: 40px;"></a>
                <a href=""><img src="https://i4.sdlcdn.com/img/footer/instagram@4x.png" alt="" style="width: 40px;"></a>
                <a href=""><img src="https://i1.sdlcdn.com/img/footer/youtube@4x.png" alt="" style="width: 40px;"></a>
                <a href=""><img src="https://i4.sdlcdn.com/img/footer/Telegram-Logo_112x112.png" alt="" style="width: 40px;"></a>
                </div>
              </div>
              
            
            </div>
        </div>
        <div class="row">
            <div class="col">
                <P style="color: #f4f0f0; margin-left: 20px;">Copyright © 2021, Altos technologies. All Rights Reserved</P>
            </div>
        </div>
    </div> 
</div>   



  

</body> 
</html>   